*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	--spacing: 0.5rem;
	--spacing-reduced: calc(var(--spacing) * 0.667); /* modular scale-ish */
	--spacing-extra: calc(var(--spacing) * 3.375); /* modular scale-ish */
	--color-fg: #000;
	--color-bg: #FFF;
	--color-acc: #333;
	--color-link: #00C;
	--color-link-visited: #518;

	background-color: var(--color-acc);
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
	line-height: 1.5;
	color: var(--color-fg);
	background-color: var(--color-bg);
}

a:link {
	color: var(--color-link);
}
a:visited {
	color: var(--color-link-visited);
}

pre {
	--offset: calc(-1 * (var(--spacing-reduced) + calc(var(--spacing))));

	overflow: auto;
	margin-left: var(--offset);
	margin-right: var(--offset);
	border: 1px solid #DDD; /* XXX: magic color value */
	border-left-width: var(--spacing-reduced);
	border-radius: var(--spacing);
	padding: var(--spacing);
}

main {
	--h-size: 60ch;

	max-width: calc(var(--h-size) + 2 * var(--spacing));
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--spacing);
	padding-right: var(--spacing);
	padding-bottom: var(--spacing); /* XXX: hacky? */
}

/* layout utilities */

.stack > * {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
}
.stack > * + * {
	margin-top: var(--spacing);
}

/* site header */

.site-header {
	background-color: var(--color-acc);
}
.site-header,
.site-header a {
	color: var(--color-bg);
}

.site-header nav {
	display: flex;
	gap: var(--spacing);
	flex-wrap: wrap; /* just to be safe */
	align-items: center;
}

.site-header nav a {
	padding: var(--spacing);
}

.site-header a:first-of-type {
	padding-left: var(--spacing-extra);
}
.site-header a:first-of-type + * {
	margin-left: var(--spacing-extra);
}

/* decoration */
.site-header a:first-of-type,
.site-header a:first-of-type > * {
	position: relative;
}
.site-header a:first-of-type::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% + var(--spacing-extra));
	height: 100%;
	background-color: var(--color-fg);
	transform: skew(-30deg);
	transform-origin: top;
}

/* article */

.article > header .metadata {
	margin-top: 0;
	font-size: small;
}
.article > header .metadata,
.article > header .metadata a {
	color: var(--color-acc);
}
.article > header .metadata b {
	font-weight: normal;
}
.article > header .metadata * + *::before {
	content: "• ";
}

.article img {
	max-width: 100%;
}

.article aside { /* XXX: magic color values */
	border: 3px solid rgba(110, 140, 192, 0.8);
	border-width: 3px 0;
	padding: var(--spacing) var(--spacing-extra);
	background-color: rgba(220, 232, 255, 0.2);
}
